:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(42, 42, 59);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
     margin: 0;
     padding: 0;
     outline: none;
     border: none;
     box-sizing: border-box;
}
body {
     height: 100vh;
     background-color: #9345e6;
     position: relative;
}
.App {
     position: absolute;
     width: 100%;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     max-width: 500px;
     padding: 20px;
     background-color: #f0ffff;
}

h1 {
     margin-bottom: 10px;
}

.box {
     width: 100%;
     display: flex;
     background-color: #fff;
     box-shadow:  2px 10px 10px #e9e5e588;
     padding:20px;
     margin-top: 10px;
}

.box input {
     font-size: 16px;
     flex-grow: 1;
     color:#aca8a8;
}

.box button {
     font-size: 20px;
     background-color: transparent;
     cursor: pointer;
}
.info {
     display: flex;
     align-items: center;
     justify-content: center;
     row-gap: 10px;
     height: 300px;
     position: relative;
}

.result {
     text-align: center;
}

.image-fluid {
    width: 200px;
}

h4 {
     text-align: center;
}

*::placeholder {
     color: #d2d1ce;
}

.temp {
     font-size: 40px;
     position: absolute;
     right: 10%;
     top: 10%;
     letter-spacing: -2px;
}
